html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #d7ebf0;
  overflow-x: hidden;
}

section {
  padding-top: 6rem;
}
